<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
    <div>
    <h1>Список задач</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Дата начала</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.taskStatus}"></td>
            <td th:text="${task.dateBegin}"></td>
            <td><a th:href="@{task-update/{id}(id=${task.id})}">Изменить статус</a></td>
            <td><a th:href="@{task-delete/{id}(id=${task.id})}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    </div>
    <p><a href="/task-create">Создать задачу</a></p>
    <p><a href="/">Главная</a></p>
</body>
</html>